@import 'scss-variables.scss';

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
      @media (min-width: $screenLg) {
        margin-top: 40px;
      }
}

.title{
    width: 100%;
    margin:0 0 20px 0;
    padding: 18px 0px;
    font-size: 20px;
    text-align: center;
    color: var(--color-white);
    background-color: #B1B5C2; 
    @media (min-width: $screenMd) {
        min-width: 704px;
        height: 60px;
        margin-bottom: 28px;
      }
    
      @media (min-width: $screenLg) {
        padding: 18px 0 18px 0;
      }
}



.form{
    display: flex;
    flex-direction: column;
    align-items: center;
    @media (min-width: $screenMd) {
        align-items: flex-start;
      }
}

.content{
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    @media (min-width: $screenMd) {
        flex-direction: row;
        justify-content: left;
        margin-bottom: 24px;
      }
      @media (min-width: $screenLg) {
        margin-left: auto;
        margin-right: auto;
      }
}

.iconContainer{
  position: relative;
}

.icon{
    position: absolute;
    top: 10px;
    left: 50px;
    width: 20px;
    height: 20px;
    color: #B1B5C2;
    cursor: pointer;
    z-index: 10;
}

.icon:hover,
.icon:focus{
  color: var(--color-orange);
}



.icon::placeholder {
  color:#B1B5C2;
  text-align: center;
}

.content .dataTimePicker{
    width: 280px;
    height: 42px;
    margin: 0 0 20px 40px;

    @media (min-width: $screenMd) {
        width: 250px;
      }
}

// .content:last-child{
//     @media (min-width: $screenMd) {
//         margin: 0 0 0 40px;
//       }
// }

.dataTimePicker{
  padding-left: 41px;
}

.dataTimePicker:focus{
  border-color:var(--color-orange);
}

.select{
    width: 280px;
    margin: 0 0 32px 0;
    @media (min-width: $screenMd) {
        width: 483px;
        height: 42px;
        margin: 0 50px 0 0;
      }
}

.select input:focus{
  color: #A6ABB9;
  border-color: var(--color-orange);
}

.placeholder{
  font-size: 14px;
  font-weight: 500;
  line-height: 17px;
  letter-spacing: 0em;
  text-align: left;
  color: #A6ABB9;
}

.tableSelect{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

.button{
    width: 171px;
    height: 42px;
    cursor: pointer;
    margin-bottom: 40px;
}
