@import 'scss-variables.scss';

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  @media (min-width: $screenLg) {
    margin-top: 40px;
  }
}

.title {
  width: 100%;
  margin: 0 0 20px 0;
  padding: 18px 0px;
  font-size: 20px;
  text-align: center;
  color: var(--color-white);
  background-color: #b1b5c2;
  @media (min-width: $screenMd) {
    min-width: 704px;
    height: 60px;
    margin-bottom: 28px;
  }

  @media (min-width: $screenLg) {
    padding: 18px 0 18px 0;
  }
}

.form {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;

  @media (min-width: $screenMd) {
    align-items: flex-start;
  }
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  @media (min-width: $screenMd) {
    flex-direction: row;
    justify-content: left;
    margin-bottom: 24px;
  }
  @media (min-width: $screenLg) {
    margin-left: auto;
    margin-right: auto;
  }
}

.iconContainer {
  position: relative;
}

.icon {
  position: absolute;
  top: 10px;
  left: 15px;
  width: 20px;
  height: 20px;
  color: #b1b5c2;
  cursor: pointer;
  z-index: 10;
  @media (min-width: $screenMd) {
    left: 50px;
  }
}

.icon:hover,
.icon:focus {
  color: var(--color-orange);
}

.icon::placeholder {
  color: #b1b5c2;
  text-align: center;
}

.content .dataTimePicker {
  width: 280px;
  height: 42px;
  margin: 0 0 20px 0;

  @media (min-width: $screenMd) {
    width: 250px;
    margin: 0 0 20px 40px;
  }
}

.dataTimePicker {
  padding-left: 41px;
}

.dataTimePicker:focus {
  border-color: var(--color-orange);
}

.select {
  width: 280px;
  margin: 0 0 32px 0;
  color: #a6abb9;
  background: #ffffff;
  box-shadow: inset 0px 1px 2px rgba(29, 29, 27, 0.15);
  @media (min-width: $screenMd) {
    width: 483px;
    height: 42px;
    margin: 0 50px 0 0;
  }
  @media (min-width: $screenLg) {
    width: 715px;
  }
}

.select input:focus {
  color: #a6abb9;
  border-color: var(--color-orange);
}

.placeholder {
  color: #a6abb9;
  font-family: Montserrat;
  font-style: normal;
  font-size: 14px;
  font-weight: 500;
  line-height: 17px;
  letter-spacing: 0em;
  text-align: left;
}

.tableSelect {
  width: 100%;
  display: flex;
  flex-direction: column;
  @media (min-width: $screenMd) {
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
  }
}

.button {
  margin-left: auto;
  margin-right: auto;
  width: 171px;
  height: 42px;
  cursor: pointer;
  margin-bottom: 40px;
  @media (min-width: $screenMd) {
    margin-right: 0;
    margin-left: auto;
  }
}
