@import 'scss-variables.scss';

.catalogWrapper {
  position: relative;
}

.trainingBtn {
  display: block;
  min-width: 170px;
  margin: 20px auto 100px;

  @media (min-width: $screenMd) {
    min-width: 200px;
    margin: 40px auto;
  }
}

.hide {
  display: none;
}
