@import 'scss-variables.scss';

.wrap {
  margin-bottom: 40px;
}

.titleWrap {
  padding: 12px 0;
  border-top: 1px solid #e0e5eb;
}

.title {
  width: 100%;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #898f9f;
}

.titleB {
  composes: title;
  margin-right: 217px;
  @media (min-width: $screenLg) {
    margin-right: 300px;
  }
}
.titleA {
  composes: title;
  margin-right: 162px;
  @media (min-width: $screenLg) {
    margin-right: 180px;
  }
}
.titleY {
  composes: title;
  margin-right: 61px;
  @media (min-width: $screenLg) {
    margin-right: 65px;
  }
}
.titleP {
  composes: title;
}

.contentWrap {
  position: relative;
  padding: 20px 0;
  border-top: 1px solid #e0e5eb;
  border-bottom: 1px solid #e0e5eb;
}

.isContentWrap {
  composes: contentWrap;
  overflow: hidden;
  overflow-y: scroll;
  height: 171px;
}

.icon {
  width: 22px;
  height: 17px;
  color: #898f9f;
  margin-right: 12px;
}

.spanText {
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
}

.spanScroll {
  position: absolute;
  top: 0;
  right: 0;
  width: 5px;
  height: 58px;
  background: rgba(177, 181, 194, 0.25);

  &::before {
    content: '';
    position: absolute;
    top: 7px;
    width: 5px;
    height: 27px;
    background: #b1b5c2;
  }
}

.inputWrap {
  display: flex;
  align-items: center;
}

.isContentWrap .inputWrap {
  margin-bottom: 20px;
}

.input {
  border: none;
  background-color: transparent;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #242a37;
  padding: 0;
  padding-right: 5px;
  outline: none;
}

.titleBInput {
  composes: input;

  width: 250px;
  @media (min-width: $screenLg) {
    width: 330px;
  }
}

.titleAInput {
  composes: input;
  width: 215px;
  @media (min-width: $screenLg) {
    width: 230px;
  }
}

.titleYInput {
  composes: input;
  width: 95px;
  @media (min-width: $screenLg) {
    width: 85px;
  }
}

.titlePInput {
  composes: input;
  text-align: right;
  width: 45px;
  margin-right: 40px;
  @media (min-width: $screenLg) {
    width: 55px;
    margin-right: 120px;
  }
}

.iconDel {
  width: 22px;
  height: 17px;
  color: #a6abb9;
  cursor: pointer;
}
