.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  @media screen and (min-width: 769px) {
    flex-direction: row;
  }
  @media (min-width: 1280px) {
    max-width: 1280px;
    margin: 0 auto;
  }
}
.pictureWrapper {
  max-width: 100%;
  background: #091e3fcc;
  background-repeat: no-repeat;
  background-position-x: center;
  background-size: cover;
  background-image: linear-gradient(
      to right,
      rgba(9, 30, 63, 0.8),
      rgba(9, 30, 63, 0.8)
    ),
    url('../../images/login_picture/loginpicture.jpg');
  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    background-image: linear-gradient(
        to right,
        rgba(9, 30, 63, 0.8),
        rgba(9, 30, 63, 0.8)
      ),
      url('../../images/login_picture/loginpicx2.jpg');
  }
  @media screen and (min-width: 481px) {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 559px;
    background-image: linear-gradient(
        to right,
        rgba(9, 30, 63, 0.8),
        rgba(9, 30, 63, 0.8)
      ),
      url('../../images/login_picture/loginpicture768.jpg');
    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: linear-gradient(
          to right,
          rgba(9, 30, 63, 0.8),
          rgba(9, 30, 63, 0.8)
        ),
        url('../../images/login_picture/loginpic_x2_768.jpg');
    }
  }
  @media screen and (min-width: 769px) {
    min-height: 850px;
    background-image: linear-gradient(
        to right,
        rgba(9, 30, 63, 0.8),
        rgba(9, 30, 63, 0.8)
      ),
      url('../../images/login_picture/loginpicture1280.jpg');
    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: linear-gradient(
          to right,
          rgba(9, 30, 63, 0.8),
          rgba(9, 30, 63, 0.8)
        ),
        url('../../images/login_picture/loginpic_x2_1280.jpg');
    }
  }
  @media screen and (min-width: 946px) {
    width: 549px;
    min-height: 850px;
    background-image: linear-gradient(
        to right,
        rgba(9, 30, 63, 0.8),
        rgba(9, 30, 63, 0.8)
      ),
      url('../../images/login_picture/loginpicture1280.jpg');
    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: linear-gradient(
          to right,
          rgba(9, 30, 63, 0.8),
          rgba(9, 30, 63, 0.8)
        ),
        url('../../images/login_picture/loginpic_x2_1280.jpg');
    }
  }
}
.pictureRegister.pictureWrapper {
  @media screen and (min-width: 481px) {
    min-height: 737px;
  }
  @media screen and (min-width: 769px) {
    min-height: 850px;
  }
}
.loginWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-bottom: 32px;
  @media screen and (min-width: 481px) {
    width: 400px;
    height: 430px;
    padding: 40px;
    margin: 0 auto;
    background-color: var(--color-white);
  }
  @media screen and (min-width: 769px) {
    width: 400px;
    height: 430px;
    padding: 40px;
    margin: 0 auto;
    background-color: var(--color-white);
  }
}
.registerWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-bottom: 32px;
  @media screen and (min-width: 481px) {
    width: 400px;
    height: 609px;
    padding: 40px;
    margin: 0 auto;
    background-color: var(--color-white);
  }
  @media screen and (min-width: 769px) {
    width: 400px;
    height: 609px;
    padding: 40px;
    margin: 0 auto;
    background-color: var(--color-white);
  }
}
.formWrapper {
  margin-top: 28px;
}

.formText {
  color: var(--color-white);
  @media screen and (min-width: 481px) {
    color: var(--color-light-grey);
  }
}

.loginBtn {
  width: 280px;
  height: 60px;
  margin: 0 auto;
  margin-top: 32px;
  @media screen and (min-width: 481px) {
    width: 320px;
  }
}
.loginBtn:hover {
  background-color: #d15807;
}
.regLink {
  color: var(--color-orange);
  margin: 0 auto;
  margin-top: 16px;
  @media screen and (min-width: 481px) {
    margin-top: 20px;
  }
}
.loginLink {
  margin: 0 auto;
  margin-top: 16px;
  font-size: 13px;
  line-height: 1.219;
  color: var(--color-light-grey);
  @media screen and (min-width: 481px) {
    margin-top: 20px;
  }
}
.positionWrapper {
  display: flex;
  flex-grow: 3;
  justify-content: center;
  align-items: center;
}
.regTextWrapper {
  flex-grow: 3;
  margin-top: 197px;
}
.textWrapper {
  position: relative;
  margin-top: 49px;
  text-align: center;
  @media screen and (min-width: 481px) {
    margin-top: 129px;
  }
}
.decorationItem {
  position: absolute;
  top: -43px;
  left: 50%;
  font-size: 59px;
  line-height: 1.338;
  font-family: var(--second-font);
  color: var(--color-orange);
  transform: translate(-50%);
  @media screen and (min-width: 481px) {
    top: -63px;
    font-size: 69px;
  }
}
.textQuote {
  width: 230px;
  margin: 0 auto;
  font-size: 13px;
  font-weight: 500;
  line-height: 1.219;
  color: var(--color-grey);
  @media screen and (min-width: 481px) {
    min-width: 397px;
    font-size: 24px;
    line-height: 1.583;
  }
  @media screen and (min-width: 768px) {
    min-width: 219px;
    font-size: 16px;
    line-height: 1.583;
  }
  @media screen and (min-width: 946px) {
    min-width: 397px;
    font-size: 24px;
    line-height: 1.583;
  }
}
.textAuthor {
  width: 100px;
  margin: 0 auto;
  margin-top: 10px;
  padding-top: 12px;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.219;
  color: #898f9f;
  border-top: solid 1px #898f9f;
  @media screen and (min-width: 481px) {
    width: 150px;
    margin-top: 20px;
    font-size: 20px;
  }
}
.isRequiredField {
  color: #f25137;
}
