.header__section {
  display: flex;
  flex-wrap: nowrap;
  align-content: center;
  align-items: center;
  justify-content: space-between;
}
.header {
  height: 60px;
  background-color: var(--color-white);
  box-shadow: 0px 2px 3px rgba(9, 30, 63, 0.1);
}

.header__section2 {
  align-content: center;
  align-items: center;
  box-shadow: 0px 2px 3px rgba(9, 30, 63, 0.1);
  display: table-cell;
  vertical-align: middle;
  width: 100vw;
}

.header__logo {
  font-family: var(--second-font);
  text-align: center;
  font-size: 20px;
  font-weight: 400;
  line-height: 27px;
}

.wrapNav {
  display: flex;
  flex-wrap: nowrap;
  align-content: center;
  align-items: center;
}

.hiScreen {
  margin-right: 25vw;
}
@media (min-width: 768px) {
  .loScreen {
    display: none;
  }
}

@media (max-width: 768px) {
  .hiScreen {
    display: none;
  }
}

.line {
  background: var(--color-super-light-grey);
  height: 2px;
  border: none;
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: var(--color-inner-bgn);
}
