.nameWraper {
  display: flex;
  margin-right: 14px;
  flex-wrap: nowrap;
  align-content: center;
  align-items: center;
}

.circleUnderLater {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: space-around;
  width: 33px;
  height: 33px;
  background-color: var(--color-super-light-grey);
  border-radius: 50%;
}

.nameFirstLater {
  font-weight: 600;
  font-size: 14px;
  line-height: 1.21;
}

@media (min-width: 768px) {
  .nameWraper {
    margin-right: 25vw;
  }

  .circleUnderLater {
    margin-right: 12px;
  }
}

@media (min-width: 1280px) {
  .circleUnderLater {
    margin-left: 520px;
  }
}

.user {
  font-weight: 300;
  font-size: 14px;
  line-height: 1.21;
  color: var(--color-grey);
}
