.nameWraper {
  display: flex;
  margin-right: 14px;
  flex-wrap: nowrap;
  align-content: center;
  align-items: baseline;
}

.circleUnderLater {
  text-align: center;
  width: 33px;
  height: 33px;
  background-color: var(--color-super-light-grey);
  border-radius: 50%;
  margin-right: 12px;
}

.nameFirstLater {
  margin: 0;
  margin-top: 3px;
}

@media (min-width: 768px) {
  .nameWraper {
    margin-right: 25vw;
  }
}
