@import '~modern-normalize/modern-normalize.css';

:root {
  --main-font: 'Montserrat', sans-serif;
  --color-black: #000;
  --color-whire: #fff;
  --color-grey: #242a37;
  --color-light-grey: #898f9f;
  --color-orange: #ff6b08;
}

html {
  font-size: 14px;
}

body {
  margin: 0;
  font-family: var(--main-font);
  font-weight: 500;
  line-height: 1.21;
}

img {
  max-width: 100%;
  height: auto;
}
