@import '~modern-normalize/modern-normalize.css';
@import '~react-toastify/dist/ReactToastify.css';

:root {
  --main-font: 'Montserrat', sans-serif;
  --second-font: 'Abril Fatface';
  --third-font: 'Roboto';
  --color-black: #000;
  --color-white: #fff;
  --color-grey: #242a37;
  --color-light-grey: #898f9f;
  --color-orange: #ff6b08;
  --color-super-light-grey: #f5f7fa;
  --color-inner-bgn: #f6f7fb;
  --toastify-icon-color-error: var(--color-orange);
  --toastify-color-progress-error: var(--color-orange);
}

html {
  font-size: 14px;
}

body {
  margin: 0;
  font-family: var(--main-font);
  font-weight: 500;
  line-height: 1.21;
}

img {
  max-width: 100%;
  height: auto;
}
