.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 25px 0 38px 0px;
}

.graphic{
    width: 100%;
    padding: 61px 22px 39px 22px;
    @media (min-width: 768px) {
        padding: 75px 51px 50px 46px;
    }
}